.DS_Store
.venv
.idea
.ipynb_checkpoints
.pyc
validation_results/*.jpg
.txt
.csv
__pycache__/
.dkt
data/full_3d_array.pkl
.pth
data/preprocessed_data_bipolar_OG
.npy
data/test_data.pkl
data/train_data.pkl
.pkl
rnn_saved_model/
tuep/
data/features_3d_array_test.pkl
data/features 3d_array.pkl
trained_model0.pth 
trained_model1.pth 
trained_model2.pth
trained_model3.pth 
trained_model4.pth 